@tailwind base;
@tailwind components;
@tailwind utilities;

.title-gradient {
    background: linear-gradient(to right, rgb(253, 164, 175), rgb(165, 180, 252), rgb(17, 94, 89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

